@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  font-family: Geist;
  background-image: radial-gradient(rgba(255, 255, 255, 0.205) 2%, transparent 5%);
  background-size: 5px 5px;
}